/*------------------------------*/
/*BASIC SETUP*/
/*------------------------------*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,body {
	background-color: #fff;
	color: #555555;
	font-family: 'lato', 'arial', sans-serif;
    font-weight: 300;
    font-size: 20px;
    overflow-x: hidden;
}
/*------------------------------*/
/*REUSABLES*/
/*------------------------------*/
.row {
	max-width: 1140px;
	margin: 0 auto;
}

section {
	padding: 60px 0;

}
/*----- header------*/
h1, h2, h3 {
    font-weight: 300;
    text-transform: uppercase;
}
h1 {
    margin:0;
    font-size: 240%;
    color: #fff;
    word-spacing: 4px;
    letter-spacing: 1px; 
}
h2 {
   font-size: 160%;
   display: block;
    word-spacing: 2px;
    margin-bottom: 40px;
    text-align:center;
    letter-spacing: 1px; 
}
h3 {
    font-size: 110%;
    margin-bottom: 15px;
}
/*-----GENERIC LINKS-----*/
a {
    color: #B5A419;
    text-decoration: none;
    transition: color 0.2s, border-bottom 0.2s;
}
a:hover {
    color:#8D7E04;
}
/*----- BUTTONS------*/
.btn,
input[type=submit] {
	display: inline-block;
    padding:10px 40px;
    font-weight: 300;
    border-radius: 4px;
    text-align: center;
    text-transform: capitalize;
    border: 1px solid #B5A419;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
    background-color: #B5A419;
    color: #fff;
}
.btn:hover,
input[type=submit]:hover {
    background-color: #948404;
    color: #fff;
    border: 1px solid #948404;
}
/*-------paragraph-------*/
.long-texts {
    line-height: 145%;
    width:65%;
    margin-left:17.5%;
    margin-right:17.5%;
}
/*--------icons-----------*/
.icon-big {
    font-size: 450%;
    display: block;
    color: #948404;
    margin-bottom: 10px;
}
.icon-small {
    display: inline-block;
    width: 50px;
    text-align: center;
    color: #B5A419;
    font-size: 200%;
    margin-right: 10px;
    line-height: 120%;
    vertical-align: middle;
}
/*---------mobile nav---------*/
.mobile .menu {
    position: absolute;
    left: 70%;
    top: 100%;
    width: 30%;
    z-index: 3;
}
.mobile li a {
    display: block;
    padding: 12px 20px;
    border-right: 1px solid #f4f4f4;
    text-decoration: none;
}

.mobile label {
    padding: 10px 20px;
    cursor: pointer;
    position: relative
}
.mobile label .menu-btn {
    display: block;
    height: 2px;
    position: relative;
    transition: background 0.1s;
    width: 20px;
    background: black;
}
.mobile label .menu-btn:after,
.mobile label .menu-btn:before {
    display: block;
    content: "";
    height: 2px;
    position: absolute;
    width: 20px;
    background: black;
    transition: all 0.1s ease-out;
}
.mobile label .menu-btn:after {
    top: 5px;
}
.mobile label .menu-btn:before {
    
    top:-5px;
}
.mobile ul {
  overflow: hidden;
  background-color: #fff;
}
.mobile .menu {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
}
.mobile input {
    display: none;
}
.mobile input:checked ~ .menu {
  max-height: 240px;
}
.mobile input:checked ~ label .menu-btn {

  background: transparent;
}

.mobile input:checked ~ label .menu-btn:after {
  transform: rotate(-45deg);
  top:0;
}

.mobile input:checked ~ label .menu-btn:before {
  transform: rotate(45deg);
  top:0;
}
/*-------------------------*/
/*HEADER*/
/*------------------------*/
.mobile {
    display: none;
}
header {
    position: relative;
    height: 45px;
}

.logo  {
    font-family: 'Lobster', cursive;
    font-size: 150%;
    color: #B5A419;
    align-self: center;
    border-bottom: 1px solid transparent;
    
}

header.row {
	display: flex;
	justify-content: space-between;
    align-items: center;
}
.desktop ul li {
	display: inline-block;
	margin-left: 20px;
	list-style: none;
}
header ul li a {
	text-decoration: none;
	border-bottom: none;
    color: #555555;
	transition: all 0.2s ease-out;
	font-weight: 400;
}
header ul li a:hover {
	
	border-right: 2px solid #B5A419;
	border-left: 2px solid #B5A419;
    color: #B5A419;
	padding-right: 5px;
	padding-left: 5px;
}
/*-----------------------*/
/*banner*/
/*-----------------------*/
.banner {
	background-image: linear-gradient(rgba(0, 0, 0, 0.71),rgba(0, 0, 0, 0.69)),url(../../images/mydiary.jpg);
	background-size: cover;
    background-position: center;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #fff;
	}
/*-----------------------*/
/*FEATURES*/
/*-----------------------*/
.features .row:last-of-type {
	display: grid;
    grid-template-columns: 1fr 1fr 1fr;
} 

.features .row:nth-child(1) {
    margin-bottom: 20px;
}
.features .row:last-of-type p {
    width: 75%;
    line-height: 145%;
    font-size: 90%;
}
/*-----------------------*/
/*STEPS*/
/*-----------------------*/
.how-it-works {
background-color: #f4f4f4;
}
.how-it-works .row:last-of-type {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.how-it-works i {
    float: left;
}
.how-it-works p {
    margin-left:0%;
    margin-right:0%;
    float: left;
    margin-bottom: 10px;
}
.steps {
    width: 60%;
    margin-left: 40%;
}
.how-img {
    background-image: linear-gradient(rgba(0, 0, 0, 0.50),rgba(0, 0, 0, 0.40)),url(../../images/girlonlaptop.jpg);
    background-size: cover;
    background-position: center;
    width: 50%;
    height: auto;
    border-radius: 10px;
}
/*-----------------------*/
/*TESTIMONIALS*/
/*-----------------------*/
.testimonials {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.customer img {
    display: block;
    margin: 0 auto;
    border-radius: 50%;
}
.customer h3 {
    margin-top: 20px;
    text-align: center;
}
.customer p {
    line-height: 145%;
    width:70%;
    margin-left:20%;
    margin-right:10%;
}
.signup-login {
    margin-top: 60px;
}
.signup-login div {
    width: 50%;
    margin-left: 33%;
}
.signup-login div span {
    display: inline-block;
    margin-left: 7px;
}
/*-----------------------*/
/*CONTACT US*/
/*-----------------------*/
.contact {
    background: #f4f4f4;
}
input, select, textarea {
    display: block;
    font-size: 85%;
}
.contact p {
    margin-bottom: 60px;
}
input[type = "text"],
input[type = "email"],
textarea {
    background-color: #fff;
    border: 1px solid #353535;
    border-radius: 3px;
    box-shadow: inset 0 1px 3px rgba(0,0,0,0.06);
    margin-bottom: 10px;
    padding: 1.2em 0.25em 1.2em 1em;
    width: 100%;
}
.contact form {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto;
    grid-template-areas:
        "first-name last-name"
        "email phone"
        "textarea textarea"
        "send send";
    grid-column-gap: 3%;
}
.first-name {
    grid-area: first-name;
}
.last-name {
    grid-area: last-name;
}
.email {
    grid-area: email;
}
.phone {
    grid-area: phone;
}
.message {
    grid-area: textarea;
}
.send {
    grid-area: send;
    display: grid;
    justify-content: center;
}
textarea {
    resize: vertical;
    max-height: 300px;
}

form a {
    display: block;
    margin-top: 20px;
    margin: 0 auto;
}
/*-----------------------*/
/*FOOTER*/
/*-----------------------*/
footer {
    background-color: #333;
    padding: 40px;
    font-size: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
footer ul {
    list-style: none;
    margin: 0 auto;
}
footer ul li {
    display: inline-block;
    margin-right: 20px;

}
footer ul li a {
    color: 888;
    font-weight: 600;
}
.footer-links li a {
    color: #888;
    border: none;
}
.footer-links li a:hover {
    color: #fff;
}
footer p {
    text-align: center;
    color: #888;
}
