@media only screen and (max-width: 1200px) {
    .row,
    .banner-text {
    	padding: 0 2%;
    }
}
@media only screen and (max-width:1023px) {
    .row,
    .banner-text {
        padding: 0 3%;
    }
	body {
		font-size: 18px;
	}
	section {
		padding: 45px 0;
	}
	.steps {
        width: 65%;
        margin-left: 35%;
    }
    .customer {
        margin: 20px auto;
    }
    .how-img {
        width: 65%;
    }
    .how-it-works p {
        margin-bottom: 20px;
    }
}
@media only screen and (max-width:767px) {
	.desktop {
		display: none;
	}
	.mobile {
		display: block;
	}
	.row {
		padding: 0 4%;
	}
	body {
		font-size: 16px;
	}
	.long-texts {
        width:100%;
        margin-left:0%;
        margin-right: 0%;
    }
	.features .row:last-of-type {
    	display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    } 
    .features .row:last-of-type p {
        width: 75%;
        margin-left: 12.5%;
        line-height: 145%;
        font-size: 90%;
    }
    .features .icon-big {
    	text-align: center;
    }
    .how-it-works .row:last-of-type {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }
    .how-img {
        background-image: linear-gradient(rgba(0, 0, 0, 0.50),rgba(0, 0, 0, 0.40)),url(../../images/girlonlaptop.jpg);
        background-size: cover;
        background-position: center;
        width: 70%;
        margin-left: 15%;
        height: auto;
        border-radius: 10px;
    }
    .steps {
        width: 60%;
        margin:0 auto;
    }
    .testimonials {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }
    .signup-login div  a {
       margin-top: 20px;
    }
    section {
    	padding: 30px 0;
    }
    .banner-text {
    	margin-left: 10%;
    }
    footer {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        grid-row-gap: 25px;
    }
}
@media only screen and (max-width:480px) {
    section { 
    	padding: 25px 0
    }
    form { 
    	width: 100%;
    }
    .social-links { 
    	margin-top: 10px;
    }
     form .row label {
     	margin-left: 5%;
	} 
	body {
		font-size: 14px;
	}
    .contact form {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto;
    grid-template-areas:
        "first-name"
        "last-name"
        "email"
        "phone"
        "textarea"
        "send";
    grid-column-gap: 3%;
    }
    .signup-login div span {
        display: none;
    }
    footer ul li {
    margin-right: 10px;
    }
    footer {
        grid-row-gap: 20px;
    }
}
@media only screen and (max-width:589px) {
    .testimonials-section span {
        display: none;
    }
    .testimonials-section a {
        width: 133px;
    }
}
