/*------------------------------*/
/*BASIC SETUP*/
/*------------------------------*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html,body {
	color: #555555;
	background: #e5e5e5;
	font-family: 'lato', 'arial', sans-serif;
    font-weight: 300;
    font-size: 20px;
    overflow-x: hidden;
}
/*------------------------------*/
/*FORM*/
/*------------------------------*/
body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}
.wrapper {
	position: relative;
	width: 900px;
	height: 600px;
}
img {
	height: inherit;
	width: inherit;
}
form {
	position: absolute;
	top: 0;
	padding-left: 70px;
	padding-right: 30px;
	width: 100%;
}
.title,
textarea {
	width: 100%;
}
.title {
	display: grid;
	grid-template-columns: 1fr 10fr;
	margin-bottom: 25px;
	margin-top: 70px;
}
input[type="text"], textarea {
	padding: 0.8em;
	outline: none;
	background: white;
	border-radius: 5px;
	border: 1px solid rgba(0,0,0,0.4);
	color: #555;
	display: block;
}
input[type="text"] {
	width: 100%;
	height: 45px;
	font-size: 130%;
}
textarea {
	height: 390px;
	resize: none;
	font-size: 115%;
	line-height: 145%;
	word-spacing: 2px;
	font-family: sans-serif;
}
.wrapper a{
	font-size: 140%;
	background: #e2e7eb;
	border-radius: 50%;
	width: 32px;
	text-align: center;
	position: absolute;
	top: 4%;
	left: 92%;
	z-index: 3;
	display: inline-block;
	margin-left: 2px;
	display: block;
	transform: rotate(0deg);
	transition: transform 0.2s;
}
.wrapper a:hover {
	transform: rotate(60deg);
}
label {
	font-size: 120%;
	font-weight: 400;
	align-self: center;
}
.btn {
	box-shadow: inset 0px 1px 0px 0px #B5A419;
	background-color: #B5A419;
	border: 0;
	border-radius: 2px;
	display: inline-block;
	cursor: pointer;
	color: #ffffff;
	font-family: Arial;
	font-size: 100%;
	font-weight: bold;
	padding: 6px 15px;
	margin-top: 5px;
	outline: none;
	transition: background-color 0.2s;
 }
 .btn:first-of-type {
	margin-right: 10px;
}
.btn:hover {
	background-color: #948404;
}
/*------------------------------*/
/*FORM*/
/*------------------------------*/
.hidden {
	display: none;
}
.popup {
 	position: absolute;
 	border: 1px solid rgba(0,0,0,0.1);
 	width: 400px;
 	padding: 20px 20px;
 	top: 35%;
 	left: 20%;
 	background-color: #555;
 	color: #fff;
 	border-radius: 3px;
}
.popup p {
 	font-size: 95%;
 	margin-bottom: 35px;
}
.popup button:first-of-type {
 	margin-left: 100px;
 	cursor: pointer;
 	background: #FC491A;
 	border: none;
 	box-shadow: none;
 }
.popup button:first-of-type:hover {
 	cursor: pointer;
 	background: #CF2D02;
 }
.popup button:last-of-type {
 	height:35px;
 	font-size: 95%;
 	color: #555;
 	padding: 0 15px;
 	border:0;
	box-shadow: 0;
	outline: none;
	background: #fff;
	transition: background 0.2s;
 }
.popup button:last-of-type:hover {
	background: #cfcfcf;
}


