@media only screen and (max-width: 1140px) {
	.header {
		width: 100%;
		padding: 0 2%;
		padding-top: 3px;
	}
}
/*medium tablet to big tablets*/
@media only screen and (max-width: 900px) {
	html,body {
		font-size: 18px;
	}
	header {
		font-size: 120%;
	}
	.wrapper {
		width: 100%;
	}
	img {
		width: 100%;
	}
	.wrapper a {
		left: 93%;
	}
}
/* big phones to small tablet*/
@media only screen and (max-width:767px) {
	html,body {
		font-size: 18px;
	}
	header {
		font-size: 135%;
	}

	form {
		padding-left: 52px;
		padding-right: 25px;
	}
	.title label {
		padding-right: 10px;
	}
	.wrapper a{
		left: 90%;
	}
	form p {
		/*height: 350px;*/
		overflow: scroll;
	}
}
/* medium  phones to big phone*/
@media only screen and (max-width:590px) {
	.title h1 {
		font-size: 26px;
	}
	form p {
		/*height: 350px;*/
		overflow: scroll;
	}
}

/* medium  phones to big phone*/
@media only screen and (max-width:480px) {
	header {
		font-size: 16px;
	}
	.mobile {
		display: block;
	}
	.desktop {
		display: none;
	}
	form {
		padding-left: 36px;
		padding-right: 15px;
	}
	.title {
		font-size: 80%;
	}
	.wrapper a{
		font-size: 140%;
		width: 32px;
		top: 4%;
		left: 87%;
	}
	form p {
		/*height: 350px;*/
		overflow: scroll;
	}
}
/* really small phones*/
@media only screen and (max-width:360px) {
	.wrapper a{
		left: 83%;
	}
	form {
		padding-left: 27px;
		padding-right: 12px;
	}
}
@media only screen and (max-width:250px) {
	.title label {
		display: none;
	}
	.title {
		grid-template-columns: 1fr;
		margin-bottom: 10px;
	}
	img {
		display: none;
	}
	form {
		padding-left: 4px;
		padding-right: 4px;
	}
}
