/*------------------------------*/
/*BASIC SETUP*/
/*------------------------------*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html,body {
	background: white;
	color: #555555;
	font-family: 'lato', 'arial', sans-serif;
    font-weight: 300;
    font-size: 20px;
    overflow-x: hidden;
}
section {
	padding: 60px 0;
}
/*------------------------------*/
/*REUSABLES*/
/*------------------------------*/
.row {
	max-width: 1140px;
	margin: 0 auto;
}
a {
    color: #B5A419;
    text-decoration: none;
    padding-bottom: 1px;
    transition: color 0.2s;
}
a:hover {
    color:#D6C537;
}
/*---------mobile nav---------*/
.mobile .menu {
    position: absolute;
    left: 70%;
    top: 100%;
    width: 30%;
    z-index: 3;
}
.mobile li a {
  display: block;
  padding: 12px 20px;
  border-right: 1px solid #f4f4f4;
  text-decoration: none;
}

.mobile label {
    padding: 10px 20px;
    cursor: pointer;
    position: relative
}
.mobile label .menu-btn {
    display: block;
    height: 2px;
    position: relative;
    transition: background 0.1s;
    width: 20px;
    background: #f4f4f4;
}
.mobile label .menu-btn:after,
.mobile label .menu-btn:before {
    display: block;
    content: "";
    height: 2px;
    position: absolute;
    width: 20px;
    background: #f4f4f4;
    transition: all 0.1s ease-out;
}
.mobile label .menu-btn:after {
    top: 5px;
}
.mobile label .menu-btn:before {
    
    top:-5px;
}
.mobile ul {
  overflow: hidden;
  background-color: #fff;
}
.mobile .menu {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
}
.mobile input {
    display: none;
}
.mobile input:checked ~ .menu {
  max-height: 240px;
}
.mobile input:checked ~ label .menu-btn {

  background: transparent;
}
.mobile input:checked ~ label .menu-btn:after {
  transform: rotate(-45deg);
  top:0;
}
.mobile input:checked ~ label .menu-btn:before {
  transform: rotate(45deg);
  top:0;
}

/*-------------------------*/
/*HEADER*/
/*------------------------*/
.header {
	position: relative;
}
header {
	background: #444;
}
.header {
	display: flex;
	justify-content: space-between;
    align-items: center;
}
.logo  {
    font-family: 'Lobster', cursive;
    font-size: 150%;
    align-self: center;
    border-bottom: 1px solid transparent;  
}
header ul li a:link,
header ul li a:visited {
	text-decoration: none;
	border-bottom: none;
    color: #555555;
	transition: all 0.2s ease-out;
	font-weight: 400;
	text-transform: uppercase;
}
header ul li a:hover,
header ul li a:active {
	
	border-right: 2px solid #B5A419;
	border-left: 2px solid #B5A419;
    color: #B5A419;
	padding-right: 5px;
	padding-left: 5px;
}
.new {
	display: block;
	margin-left: 75%;
	padding: 3px 10px;
	background: #B5A419;
    border-radius: 3px;
    color: #555;
    font-weight: 500;
    cursor: pointer;
    transition: background 0.2s;
}
.new:hover {
	background-color: #8D7D07;
	color: #555;
}
/*-----------------------*/
/*PROFILE*/
/*-----------------------*/
.user {
    width: 100%;
    margin-top: 20px;
    box-shadow: 0 0px 2px rgba(0,0,0,0.3);
    padding: 5px;
    padding-left: 10px;
    background: #f5f5f5;
}
.pic {
    margin-top: 15px;
}
.profile {
    display: grid;
    grid-template-columns: 1fr 9fr
}
.pic {
    height: 190px;
    width: 140px;
    margin-right: 20px;
    background: linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.2)),url(../../images/profile.png);
    background-position: center;
    background-size: cover;
}
.details {
    margin-top: 15px;
}
.icon-small {
    margin-right: 6px;
}
.details p:first-of-type {
    font-size: 150%;
    border-left: 3px solid rgba(0,0,0,0.4);
    padding-left: 3px;
    margin-bottom: 30px;
    font-weight: 400;
}
.details p {
    margin-bottom: 1px;
}
.details p:nth-child(2) {
    margin-bottom: 8px;
}
.details p:last-of-type {
    margin-top: 10px;
    background: #F0E162;
    color: #555;
    padding: 1px 4px;
    width: fit-content;
    border-radius: 5px;
    font-weight: 400;
}
.details p:last-of-type i {
  margin-right: 3px;
}
form label span {
    display: inline-block;
    margin-bottom: 4px;
}
form input[type="text"] {
    width: 40px;
    display: inline-block;
}
form input[type="submit"] {
    padding: 0 10px;
}
input[type="submit"] {
    color: #444;
    cursor: pointer;
    background:#fff;
}
input[type="submit"]:hover {
    background: #e5e5e5;
    transition: background 0.05s linear;
}
/*-----------------------*/
/*ALL ENTRIES*/
/*-----------------------*/
.entries {
	background: white;
	margin-top :15px;
}
.entries h1 {
	font-weight: 300;
	font-size: 140%;
	text-align: center;
	margin-bottom: 40px;

}
.entry {
	height: 150px;
	padding: 10px;
	width: 70%;
	margin: 0 auto;
	display: grid;
	align-items: center;
	grid-template-columns: 1fr 3fr 1fr;
	border: 1px solid #e7e7e7;
	margin-bottom: 20px;
	background: #fcfcfc;
}
.entry .date .month-day {
	background: url(../../images/date.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	width: 100px;
	height: 100px;
	position: relative;
}
.entry .date .month-day span {
	display: inline-block;
	font-weight: 400;
}
.entry .date .month-day span:last-of-type {
	color: #fff;
	position: absolute;
	top: 13px;
	left: 36px;
	font-size: 70%;

}
.entry .date .month-day span:first-of-type {
	position: absolute;
	top:38%;
	left: 26%;
	font-size: 110%;
}
.entry .date .year {
	font-weight: 500;
	display: block;
	margin-top: -18px;
	position: relative;
	z-index: 2;
	margin-left: 25px;
}
.summary {
	margin-left: -10%;
	position: relative;
	z-index: 3;
}
.entry h2 {
	font-weight: 400;
	font-size: 110%;
}
.summary p {
	width: 85%;
	margin-top: 10px;
	line-height: 125%;
	word-spacing: 2px;
}
.entry a {
	display: block;
	height: 40px;
	width: fit-content;
	background: #e5e5e5;
	color: #555;
	padding: 7px 10px 5px 15px;
	box-shadow: 0 0 3px rgba(0,0,0,0.3);
	cursor: pointer;
	transform: scale(1);
	transition: transform 0.2s;
}
.entry a:hover {
	transform: scale(1.2);
}
/*-----------------------*/
/*FOOTER*/
/*-----------------------*/
footer {
    background-color: #333;
    padding: 40px;
    font-size: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
footer ul {
    list-style: none;
    margin: 0 auto;
}
footer ul li {
    display: inline-block;
    margin-right: 20px;

}
footer ul li a {
    color: 888;
}
footer  .icon-small {
    font-size: 150%;
    margin-right: 0;
    color: #888;
}
.footer-links li a {
    color: #888;
    border: none;
}
.footer-links li a:hover {
    color: #fff;
}
footer p {
    text-align: center;
    color: #888;
}