/*big tablet to 1200px*/
@media only screen and (max-width: 1200px) {
	.row {
	padding: 0 2%;
	}
	.new {
		margin-left: 72%;
	}
}
@media only screen and (max-width: 1023px) {
	html,body {
		font-size: 18px;
	}
	.month-date {
		font-size: 110%;
	}
	.new {
		margin-left: 70%;
	}
	section {
		padding: 40px 0;
	}
	.entry {
		margin-bottom: 13px;
		width: 80%;
	}
	.summary {
		margin-left: -3%;
	}
}
@media only screen and (max-width: 939px) {
	.new {
		margin-left: 68%;
	}
}
@media only screen and (max-width: 878px) {
	.new {
		margin-left: 66%;
	}
}
@media only screen and (max-width:767px) {
	.new {
		padding: 3px 5px;
		margin-left: 53%;
	}
	.summary {
		margin-left: 0;
	}
	.new i {
		display: none;
	}
	.entry {
		width: 90%;
		height: 170px;
	}
	footer {
		font-size: 70%;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        grid-row-gap: 20px;
    }

}
/*device from 378px to 480px*/
@media only screen and (max-width:480px) {
	html,body {
		font-size: 16px;
	}
	.new {
		margin-left: 20%;
	}
	.entry {
		width: 99%;
		height: 180px;
	}
    footer ul li {
    margin-right: 20px;
    }
    .details {
    margin-top: 10px;
    display: grid;
    position: relative;
    grid-template-columns: 2fr;
    grid-template-rows: 1fr 1fr 2fr;
    grid-template-areas: "name"
                         "email"
                         "reminder"
                         "entries";
	}
	.details .entries {
		position: static;
		grid-area: entries;
		right: 0;
		top: 0;
		margin-bottom: 20px;
	}
}
@media only screen and (max-width:378px) {
	.entry {
		display: grid;
		grid-template-columns: 1fr 4fr;
		grid-template-rows: 1fr 1fr;
		grid-template-areas: "date summary"
							 "link link";
		height: fit-content;
	}
	.entry .date {
		grid-area: date;
	}
	.entry .summary {
		grid-area: summary;
	}
	.entry a {
		grid-area: link;
		margin: 0 auto;
	}
}
@media only screen and (max-width: 535px) {
	footer .footer-links ul li {
    margin-right: 10px;
	}
}