@media only screen and (max-width: 530px) {
	.wrapper {
	margin: 0 auto;
	margin-top: 8%;
	width: 450px;
	height: 460px;
	}
}
@media only screen and (max-width: 450px) {
	.wrapper {
	margin: 0 auto;
	margin-top: 8%;
	width: 100%;
	height: 550px;
	}
	.top-part {
		display: grid;
		grid-template-rows: 1fr 1fr;
		grid-template-columns: 1fr;
	}
	.join {
		margin: 0 auto;
		padding-bottom: 5px;
	}
	.signup {
		margin: 0 auto;
		vertical-align: middle;
	}
	.deco {
		margin-top: 0;
	}
	.small {
		width: 300px;
		display: block;
	}
}
@media only screen and (max-width: 335px) {
	.small {
		width: 100%;
	}
	input {
		width: 100%;
		padding-right: 0;
		padding-left: 0;
	}
	.small-cont {
		display: block;
	}
	.small-cont:first-of-type {
		width: 100%;
	}
}
