/*------------------------------*/
/*BASIC SETUP*/
/*------------------------------*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html,body {
	background: #e5e5e5;
	color: #555555;
	font-family: 'lato', 'arial', sans-serif;
  font-weight: 300;
  font-size: 20px;
  overflow: hidden;
  max-height: 100vh;
}
/*------------------------------*/
/*HEADER*/
/*------------------------------*/
.wrapper {
	margin: 0 auto;
	margin-top: 4%;
	width: 520px;
	height: 460px;

}
.logo {
	text-align: center;
	margin-top: 4%;
 	}
.logo a  {
  font-family: 'Lobster', cursive;
  font-size: 190%;
  color: #B5A419;
 	text-decoration: none;
 	transition: color 0.2s;
}
.logo a:hover {
	color: #8D7E04;
}
/*------------------------------*/
/*DECORATION*/
/*------------------------------*/
.deco {
	width: 100%;
	height: 4px;
	background: repeating-linear-gradient(
  	to right,
  	#f6ba52,
  	#f6ba52 10px,
  	#ffd180 10px,
  	#ffd180 20px
	);
	margin-top: 3px;
}
/*------------------------------*/
/*FORM*/
/*------------------------------*/
.signup-form {
	width: 100%;
	height: 85%;
	background: white;
}
input {
  font: inherit;
  border: 1px solid #aaa;
  width: 300px;
  display: block;
  padding: 3px 10px;
  margin: 0 auto;
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
}
form label span {
	display: inline-block;
	margin-bottom: 8px;
	text-align: left;
	font-size: 80%;
}
.small {
	width: 145px;
	margin: 0;
}
.small-cont {
	display: grid;
	grid-template-columns: 1fr 1fr;
	margin:0 auto;
	justify-content: start;
	width: 300px;
	grid-gap: 10px;
}
.small-cont div  {
	display: grid;
	grid-template-rows: 1fr 1fr;
}
.small-cont div label {
	display: block
}
form {
	padding-top: 5%;
}
form .big {
	display: grid;
	grid-template-rows: 1fr 1fr;
	width: 300px;
	margin: 0 auto;
}
label span {
	font-weight: 400;
	margin-top: 5px;
	display: inline-block;
	vertical-align: bottom;
}
.btn,
input[type=submit] {
	display: inline-block;
  padding:10px 40px;
  font-weight: 300;
  border-radius: 4px;
  text-align: center;
  text-transform: capitalize;
  border: 1px solid #B5A419;
  transition: background-color 0.2s, border 0.2s, color 0.2s;
  background-color: #B5A419;
  color: #fff;
}
.btn:hover,
input[type=submit]:hover {
  background-color: #948404;
  color: #fff;
  border: 1px solid #948404;
}
input[type="submit"] {
	margin-top: 20px;
  font-family: inherit;
  font-size: inherit;
  vertical-align: top;
  padding: 6px 16px 6px 16px;
  border: 1px solid #a2a2a2;
  color: #fff;
  cursor: pointer;
  border-radius: 5px;
  background-color: #B5A419;
	transition: background-color 0.2s linear;
}
input[type="submit"]:hover {
  background-color: #948404;
}
.signup {
	text-align: center;
	font-size: 80%;
	font-weight: 400;
	margin-top: 5px;
}
.signup a:link,
.signup a:visited {
  display: inline-block;
  color: #25728b;
  text-decoration: none;
  font-size: 80%;
  margin-top: 4px;
  margin-bottom: 5px;
}
.signup a:hover {
  display: inline-block;
  color: black;
}
.big:last-of-type {
	grid-template-rows: 1fr;
	justify-content: center;
	align-items: start;
	width: 300px;
	margin: 0 auto;
}
/*------------------------------*/
/*footer*/
/*------------------------------*/
footer {
	position: fixed;
	bottom: 20px;
	width: 100%;
}
.footer {
	width: 250px;
	margin: 0 auto;
}
footer ul {
	display: flex;
	justify-content: center;
}
footer ul li {
	display: inline-block;
}
footer a:link,
footer a:visited {
	display: inline-block;
	color: #25728a;
	text-decoration: none;
	font-size: 80%;
	margin-top: 4px;
	margin-bottom: 5px;
	transition: font-size 0.3s;
	border-bottom: 1px solid #25728a;
}
footer a:active,
footer a:hover {
	display: inline-block;
	color: black;
	border-bottom: 1px solid transparent;
}
footer p {
	text-align: center;
	font-size: 80%;
	margin-top: 10px;
}
